@model ED1_Lab5.Models.TareaPendiente

@{
    ViewBag.Title = "PrioridadTareas";
}


<div>
    <h4>Tarea Pendiente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        

        <h3>Ya finalizaste esta Tarea?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Tarea Finalizada" class="btn btn-default" /> |
            @Html.ActionLink("Tarea NO Finalizada", "Index")
        </div>
    }
</div>
